
/.idea/
/junit4and5/target/
/junit4and5/junit5-sandpit-junit4-and-5.iml
/junit5only/target/
/junit5only/junit5-sandpit-junit5-only.iml
/junit5-sandpit.iml
/.gradle/
/junit4and5/build/
/junit5only/build/
/junit5only/out/
/junit5Sandpit.iml
